Source: gebrproject
Priority: extra
Maintainer: Fabricio Matheus Goncalves <fmatheus@gebrproject.com>
Build-Depends: debhelper (>= 7), gtk-doc-tools, docbook-xsl,
 libwebkit-dev, libgdome2-dev, libtidy-dev
Standards-Version: 3.7.2

Package: libgebr0
Section: libs
Architecture: any
Depends: libwebkit-1.0-2 | libwebkit-1.0-1, libgdome2-0, libtidy-0.99-0
Description: GeBR library collection
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 .
 What GeBR does:
 .
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .
 libgebr is the collection of libraries of GeBR:
     * libgebr_comm deals with client-server communication
     * libgebr_geoxml is the XML engine of GeBR
     * libgebr_gui extends GTK+ functionalities
     * libgebr_misc is where everything else is
 .

Package: libgebr-dev
Section: libdevel
Architecture: any
Depends: libgebr0, libwebkit-dev, libgdome2-dev, libtidy-dev
Description: GeBR library collection
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 .
 What GeBR does:
 .
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .
 libgebr is the collection of libraries of GeBR:
     * libgebr_comm deals with client-server communication
     * libgebr_geoxml is the XML engine of GeBR
     * libgebr_gui extends GTK+ functionalities
     * libgebr_misc is where everything else is
 .
 This package contains the header files, static libraries and symbolic
 links that developers using libgebr will need.
 .

Package: gebrd
Section: science
Architecture: any
Depends: libgebr0 (= ${binary:Version})
Recommends: ssh-server
Description: GeBRD is server for executing flows
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 . 
 What GeBR does:
 . 
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .
 GeBRD is server for executing flows
 .

Package: gebr
Section: science
Architecture: any
Depends: libgebr0 (= ${binary:Version})
Recommends: gebrd (= ${binary:Version}), gebr-doc (= ${binary:Version}), ssh-client
Conflicts: gebrd (<< ${binary:Version})
Suggests: debr, gebr-menus-su, gebr-menus-shtools
Description: Seismic processing environment
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 . 
 What GeBR does:
 . 
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .

Package: gebr-doc
Section: doc
Architecture: any
Description: GeBR User Manual
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 . 
 This package provides a user guide for gebr users.
 .

Package: debr
Section: science
Architecture: any
Depends: libgebr0 (= ${binary:Version})
Suggests: gebr-menus-su, gebr-menus-shtools
Description: Menu Designer for GeBR
 GeBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 . 
 What GeBR does:
 . 
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .
 DeBR is the menu designer for GeBR. Each menu adds new functionalities
 to GeBR.
 .
