* { font-family: sans-serif, verdana, arial, helvetica; }
body { margin: 25px; }

h2 { color: #000060; 
     border-bottom-color: #000000;
     border-bottom: solid 1pt;
     margin-top: 2em; }

h3 { color: #000060;
     margin-top: 1.5em; }

h4 { color: #000060; }

p { text-align: justify; }

.figure .title { display: inline;}
.figure .title:after { content: "." }

.caution p, .note p, .tip p, .important p {color: #600000; }
.caption {font-style: italic;
	  font-size: small; }

a:active,
a:link,
a:visited { color: #0000AA; 
	    text-decoration: none;
			}
a:hover   { color: #000; 
	    text-decoration: underline; 
	    background-color: #fcfdd3
	  }


