Source: gebr
Priority: extra
Maintainer: Ricardo Biloti <biloti@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gebr
Section: science
Architecture: any
Depends: ${shlibs:Depends}
Description: Seismic processing environment
 GêBR is an environment to seismic processing based on open-source
 technologies, designed to easily assembly and run processing flows.
 . 
 What GêBR does:
 . 
     * Handle projects and lines
     * Assembly and run processing flows
     * Act as an interface to many freely-available seismic-processing
       packages (Seismic Unix, Madagascar, etc)
 .
